.navbar{ height:40px; line-height:40px; background:#4c4343;-webkit-box-shadow:0px 4px 4px #abaaaa; margin-bottom:5px}
body{ background:#f8f8f8; font-size:14px;}
.navbar ul{height:40px; line-height:40px;}
.navbar li{ width:50%; color:#FFF; float:left}
.navbar li a{ display:block; text-align:center; color:#FFF; font-size:14px}
.navbar li.li1 a{border-right:1px solid #FFF}

body .top_bar{ background:#eee}!important
