<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.furuida.**"/>
    <context:property-placeholder ignore-resource-not-found="true" location="classpath:prop/jdbc.properties"
                                  file-encoding="utf-8"/>
    <mvc:resources location="/static/" mapping="/static/**" cache-period="864000"/>
    <mvc:resources location="classpath:/META-INF/resources" mapping="/resources/**"/>
    <mvc:default-servlet-handler/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:prop/jdbc.properties</value>
            </list>
        </property>
    </bean>
    <util:list id="messageConverters">
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="supportedMediaTypes">
                <list>
                    <value>application/json</value>
                    <value>application/javascript</value>
                    <value>text/json</value>
                    <value>text/javascript</value>
                </list>
            </property>
        </bean>
    </util:list>

    <import resource="classpath:/spring/spring-dao.xml"/>
    <!--<aop:aspectj-autoproxy/>
    <bean id="controllerAop" class="com.jd.base.common.aop.ControllerAOP"/>

    <aop:config>
        <aop:aspect id="myAop" ref="controllerAop">
            <aop:pointcut id="target"
                          expression="execution(public com.jd.base.common.ResultBean *(..))"/>
            <aop:around method="handlerControllerMethod" pointcut-ref="target"/>
        </aop:aspect>
    </aop:config>-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="1"></property>
        <property name="prefix" value="/static/"></property>
        <property name="suffix" value=".html"></property>
    </bean>
</beans>